# This is for HBM usage

# [connectivity]
# # nk=krnl_bp:1:krnl_bp_1

# sp=krnl_bp_1.mat_p:HBM[0:30]
# sp=krnl_bp_1.vec_q:HBM[31]
# sp=krnl_bp_1.out:HBM[31]

# This is for DDR usage

# [connectivity]
# # nk=krnl_bp:1:krnl_bp_1

# sp=krnl_bp_1.mat_p:DDR[0]
# sp=krnl_bp_1.vec_q:DDR[1]
# sp=krnl_bp_1.out:DDR[1]

# This is for HBM usage for an attempt at correct chunking

# [connectivity]
# # One kernel instance (uncomment if you ever scale out)
# # nk=krnl_bp:1:krnl_bp_1

# # Spread heavy buffers across distinct HBM banks
# sp=krnl_bp_1.mat_p:HBM[0:30]
# sp=krnl_bp_1.vec_q:HBM[31]
# sp=krnl_bp_1.x_out:HBM[31]
# sp=krnl_bp_1.z_g:HBM[31]
# sp=krnl_bp_1.u_g:HBM[31]
# sp=krnl_bp_1.zold_g:HBM[31]

# THIS IS THE ONE TO USE --

# [connectivity]
# # One kernel instance (uncomment if you ever scale out)
# # nk=krnl_bp:1:krnl_bp_1

# # Spread heavy buffers across distinct HBM banks
# sp=krnl_bp_1.mat_p0:HBM[0:12]
# sp=krnl_bp_1.mat_p1:HBM[13:26]
# sp=krnl_bp_1.vec_q:HBM[27]
# sp=krnl_bp_1.x_out:HBM[28]
# sp=krnl_bp_1.z_g:HBM[29]
# sp=krnl_bp_1.u_g:HBM[30]
# sp=krnl_bp_1.zold_g:HBM[31]

# THIS IS THE ONE TO USE ^^

[connectivity]
nk=krnl_bp:1

sp=krnl_bp_1.mat_p0_v:HBM[0]
sp=krnl_bp_1.mat_p1_v:HBM[1]
sp=krnl_bp_1.vec_q_v:HBM[2]
sp=krnl_bp_1.x_out_v:HBM[3]
sp=krnl_bp_1.z_g_v:HBM[4]
sp=krnl_bp_1.u_g_v:HBM[5]
sp=krnl_bp_1.zold_g_v:HBM[6]

# [connectivity]
# # One kernel instance (uncomment if you ever scale out)
# # nk=krnl_bp:1:krnl_bp_1

# # Spread heavy buffers across distinct HBM banks
# sp=krnl_bp_1.mat_p:DDR[0]
# sp=krnl_bp_1.vec_q:DDR[1]
# sp=krnl_bp_1.x_out:DDR[1]
# sp=krnl_bp_1.z_g:DDR[1]
# sp=krnl_bp_1.u_g:DDR[1]
# sp=krnl_bp_1.zold_g:DDR[1]


# Idk what the below is for, maybe 8 banks?

# # [connectivity]
# # # <cu_name>.<streaming_output_port>:<cu_name>.<streaming_input_port>[:<fifo_depth>]
# # # connect top kernel's interfaces to the global memory
# # sp=krnl_bp_1.mat:HBM[0]
# # sp=krnl_bp_1.vec_q:HBM[1]
# # sp=krnl_bp_1.out:HBM[2]

# [connectivity]
# # Column shards of mat_p → 8 distinct HBM banks
# sp=krnl_bp_1.mat_p0:HBM[0]
# sp=krnl_bp_1.mat_p1:HBM[1]
# sp=krnl_bp_1.mat_p2:HBM[2]
# sp=krnl_bp_1.mat_p3:HBM[3]
# sp=krnl_bp_1.mat_p4:HBM[4]
# sp=krnl_bp_1.mat_p5:HBM[5]
# sp=krnl_bp_1.mat_p6:HBM[6]
# sp=krnl_bp_1.mat_p7:HBM[7]

# # Small vectors (spread them away from the hot banks above)
# sp=krnl_bp_1.vec_q:HBM[24]
# sp=krnl_bp_1.out:HBM[25]

# # Double buffers for synchronous ADMM
# sp=krnl_bp_1.z_read:HBM[26]
# sp=krnl_bp_1.z_write:HBM[27]
# sp=krnl_bp_1.u_read:HBM[28]
# sp=krnl_bp_1.u_write:HBM[29]

# [connectivity]
# nk=krnl_bp:1:krnl_bp_1

# # Matrix shards → hot HBMs
# sp=krnl_bp_1.mat_p0:HBM[0]
# sp=krnl_bp_1.mat_p1:HBM[1]
# sp=krnl_bp_1.mat_p2:HBM[2]
# sp=krnl_bp_1.mat_p3:HBM[3]
# sp=krnl_bp_1.mat_p4:HBM[4]
# sp=krnl_bp_1.mat_p5:HBM[5]
# sp=krnl_bp_1.mat_p6:HBM[6]
# sp=krnl_bp_1.mat_p7:HBM[7]

# # Small vectors / buffers → cooler HBMs
# sp=krnl_bp_1.vec_q:HBM[24]
# sp=krnl_bp_1.out:HBM[25]
# sp=krnl_bp_1.z_read:HBM[26]
# sp=krnl_bp_1.z_write:HBM[27]
# sp=krnl_bp_1.u_read:HBM[28]
# sp=krnl_bp_1.u_write:HBM[29]


# sp=krnl_bp_1.z_read:HBM[31]
# sp=krnl_bp_1.z_write:HBM[31]
# sp=krnl_bp_1.u_read:HBM[31]
# sp=krnl_bp_1.u_write:HBM[31]
